.App {
  /* text-align: center; */
}

.main-section {
  padding: 100px 60px;
  height: 73.8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .main-section {
    margin: 0;
  }
}
