.App {
  /* text-align: center; */
}

.main-section {
  margin: 100px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .main-section {
    margin: 5px;
  }
}
