.Home {
  color: black;
  background-image: url("../../assets/anthony-cantin-unsplash.jpg");
  background-position: center center;
  background-size: 100% 100%;
}

/* @media only screen and (max-width: 600px) {
  .Home {
    margin: 100px auto 0;
    background-image: url(../../assets/jeremy-bishop-small.jpg);
    background-position: 100% 100%;
  }
} */

.Wadush {
  color: black;
}

.Wadush:hover {
  color: blue;
}

.h2-home {
  font-size: 28px;
  margin: 0;
  padding: 5px 0;
}

.p-home {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
}

.call-to-action {
  color: black;
  background-color: none;
  border: solid 1px black;
  max-width: fit-content;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.call-to-action:hover {
  background-color: blue;
  border: solid 1px blue;
  color: white;
}

@media only screen and (max-width: 600px) {
  .h2-home {
    margin: 20px auto;
  }
  .p-home {
    margin: 0 auto;
  }
  .call-to-action {
    margin: 20px auto;
  }
}
